
body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(./Assets/download2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    background-color: #547dc4;
    color: #000000;
    padding: 10px 0;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav{
    align-content: flex-end;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
    
}
#top :hover {
  color: rgb(230, 42, 9);
}
h1{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    text-align: center;
    padding-top: 80px;
    display: inline-block;
}
span{
    color: rgb(105, 238, 238);
    font-size: 60px;
}
#poto{
    font-size: 50px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 25px;
}
.footer{
    margin: 0;
}