
body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(./Assets/download2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: #547dc4;
    padding:20px 20vh;
    align-items: center;
}
header img{
    height: 30px;
}

nav{
    display: flex;
    gap: 30px;
    align-items: center;
}
header nav div{
    width: 2px;
    height: 35px;
    background-color: rgb(11, 3, 123);
}

.nav{
    align-content: flex-end;
}

#log{
    border-radius: 5px;
    background-color:  rgb(45, 45, 194);
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color:white;
    text-decoration: none;
}


main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
    
}
ul :hover {
  color:  rgb(105, 238, 238);
}
h1{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    text-align: center;
    padding-top: 80px;
    padding-right: 20px;
    display: inline-block;
}
span{
    color: rgb(105, 238, 238);
    font-size: 60px;
}
#poto{
    font-size: 50px;
}


  footer {
    background-color: #547dc4;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 25px;
}
.footer{
    margin: 0;
}